.header{
padding: 10px;
font-family: ' sans-serif' ;
text-align: center;
}

.footer{ 
background-color: yellow;
text-align: left;
font-family: 'sans-serif';

}
h1, h2, h3{
    font-family: Arial, sans-serif;
}
h1{
    color:black;
    font-size: 40pt;
}
h2{
    color: white;
    font-size: 2em;
}
